<a href="https://colab.research.google.com/github/shivaboss007/python-files/blob/main/Us_Customer_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_excel("/content/US_Customer.xlsx")
df.head()

,CustomerID,Name,State,Education,Gender,Age,Married,NumPets,JoinDate,TransactionDate,MonthlySpend,DaysSinceLastInteraction
0,CUST10319,Scott Perez,Florida,High School,Non-Binary,47,Yes,1,9/19/21,2024-02-09 00:00:00,1281.74,332
1,CUST10695,Jennifer Burton,Washington,Master,Male,72,Yes,0,2024-05-04 00:00:00,2024-02-06 00:00:00,429.46,424
2,CUST10297,Michelle Rogers,Arizona,Master,Female,40,Yes,2,7/24/24,2/28/25,510.34,153
3,CUST10103,Brooke Hendricks,Texas,Master,Male,27,Yes,0,2023-12-08 00:00:00,3/29/25,396.47,124
4,CUST10219,Karen Johns,Texas,High School,Female,28,Yes,1,2021-06-12 00:00:00,7/24/22,139.68,1103

In [ ]:

print("first 5 Rows")
print(df.info())

print("\n Non Null Data Counts")
print(df.describe())

print("\n Missing Values per column")
print(df.isnull().sum())
df.head()

first 5 Rows
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10675 entries, 0 to 10674
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customerid                10675 non-null  object
 1   name                      10675 non-null  object
 2   state                     10675 non-null  object
 3   education                 10675 non-null  object
 4   gender                    10675 non-null  object
 5   age                       10675 non-null  int64
 6   married                   10675 non-null  object
 7   numpets                   10675 non-null  int64
 8   joindate                  10675 non-null  object
 9   transactiondate           10675 non-null  object
 10  monthlyspend              10675 non-null  float64
 11  dayssincelastinteraction  10675 non-null  int64
 12  joindate                  10675 non-null  object
dtypes: float64(1), int64(3), object(9)
memory usage: 1.1+ MB
None

 Non Null Data Counts
                age       numpets  monthlyspend  dayssincelastinteraction
count  10675.000000  10675.000000  10675.000000              10675.000000
mean      49.474567      1.340515    331.610315                538.469883
std       18.221365      1.150849    225.799253                398.766747
min       18.000000      0.000000      3.890000                  1.000000
25%       35.000000      0.000000    165.495000                218.000000
50%       49.000000      1.000000    282.110000                445.000000
75%       66.000000      2.000000    443.255000                788.500000
max       80.000000      4.000000   1740.420000               1791.000000

 Missing Values per column
customerid                  0
name                        0
state                       0
education                   0
gender                      0
age                         0
married                     0
numpets                     0
joindate                    0
transactiondate             0
monthlyspend                0
dayssincelastinteraction    0
joindate                    0
dtype: int64

,customerid,name,state,education,gender,age,married,numpets,joindate,transactiondate,monthlyspend,dayssincelastinteraction,joindate
0,CUST10319,Scott Perez,Florida,High School,Non-Binary,47,Yes,1,2021-09-19,2024-02-09 00:00:00,1281.74,332,2021-09-19
1,CUST10695,Jennifer Burton,Washington,Master,Male,72,Yes,0,2024-05-04,2024-02-06 00:00:00,429.46,424,2024-05-04
2,CUST10297,Michelle Rogers,Arizona,Master,Female,40,Yes,2,2024-07-24,2/28/25,510.34,153,2024-07-24
3,CUST10103,Brooke Hendricks,Texas,Master,Male,27,Yes,0,2023-12-08,3/29/25,396.47,124,2023-12-08
4,CUST10219,Karen Johns,Texas,High School,Female,28,Yes,1,2021-06-12,7/24/22,139.68,1103,2021-06-12

In [ ]:
numdata=df.select_dtypes(include=["int64","float64"]).columns.tolist()
print(numdata)
catdata=df.select_dtypes(include=["object","category"]).columns.tolist()
print(catdata)
df.head()

['age', 'numpets', 'monthlyspend', 'dayssincelastinteraction']
['customerid', 'name', 'state', 'education', 'gender', 'married', 'joindate', 'transactiondate', 'joindate']

,customerid,name,state,education,gender,age,married,numpets,joindate,transactiondate,monthlyspend,dayssincelastinteraction,joindate
0,CUST10319,Scott Perez,Florida,High School,Non-Binary,47,Yes,1,2021-09-19,2024-02-09 00:00:00,1281.74,332,2021-09-19
1,CUST10695,Jennifer Burton,Washington,Master,Male,72,Yes,0,2024-05-04,2024-02-06 00:00:00,429.46,424,2024-05-04
2,CUST10297,Michelle Rogers,Arizona,Master,Female,40,Yes,2,2024-07-24,2/28/25,510.34,153,2024-07-24
3,CUST10103,Brooke Hendricks,Texas,Master,Male,27,Yes,0,2023-12-08,3/29/25,396.47,124,2023-12-08
4,CUST10219,Karen Johns,Texas,High School,Female,28,Yes,1,2021-06-12,7/24/22,139.68,1103,2021-06-12

In [ ]:
df.columns=df.columns.str.strip().str.replace(' ','_').str.lower()

print(df.columns[df.columns.duplicated()])
# remove duplicate column names
df = df.loc[:, ~df.columns.duplicated()].copy()

df.head()

Index([], dtype='object')

,customerid,name,state,education,gender,age,married,numpets,joindate,transactiondate,monthlyspend,dayssincelastinteraction
0,CUST10319,Scott Perez,Florida,High School,Non-Binary,47,Yes,1,2021-09-19,2024-02-09,1281.74,332
1,CUST10695,Jennifer Burton,Washington,Master,Male,72,Yes,0,2024-05-04,2024-02-06,429.46,424
2,CUST10297,Michelle Rogers,Arizona,Master,Female,40,Yes,2,2024-07-24,NaT,510.34,153
3,CUST10103,Brooke Hendricks,Texas,Master,Male,27,Yes,0,2023-12-08,NaT,396.47,124
4,CUST10219,Karen Johns,Texas,High School,Female,28,Yes,1,2021-06-12,NaT,139.68,1103

In [ ]:

df['transactiondate'] = pd.to_datetime(
    df['transactiondate'],
    errors='coerce',           # invalid formats -> NaT
    infer_datetime_format=True # auto-detect format
)


df.head()

/tmp/ipython-input-3689520474.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['transactiondate'] = pd.to_datetime(

,customerid,name,state,education,gender,age,married,numpets,joindate,transactiondate,monthlyspend,dayssincelastinteraction,transactiondate_raw
0,CUST10319,Scott Perez,Florida,High School,Non-Binary,47,Yes,1,19/09/2021,NaT,1281.74,332,2024-09-02
1,CUST10695,Jennifer Burton,Washington,Master,Male,72,Yes,0,04/05/2024,NaT,429.46,424,2024-06-02
2,CUST10297,Michelle Rogers,Arizona,Master,Female,40,Yes,2,24/07/2024,NaT,510.34,153,NaT
3,CUST10103,Brooke Hendricks,Texas,Master,Male,27,Yes,0,08/12/2023,NaT,396.47,124,NaT
4,CUST10219,Karen Johns,Texas,High School,Female,28,Yes,1,12/06/2021,NaT,139.68,1103,NaT

In [ ]:
invalid_dates = df[df['transactiondate'].isna()]
print(" Unparseable date rows:")
print(invalid_dates[['transactiondate']])

 Unparseable date rows:
      transactiondate
2                 NaT
3                 NaT
4                 NaT
6                 NaT
8                 NaT
...               ...
10669             NaT
10670             NaT
10671             NaT
10672             NaT
10673             NaT

[6469 rows x 1 columns]

In [ ]:
print(df['transactiondate'].unique()[:10])

<DatetimeArray>
['2024-02-09 00:00:00', '2024-02-06 00:00:00',                 'NaT',
 '2023-04-04 00:00:00', '2023-09-07 00:00:00', '2022-01-08 00:00:00',
 '2023-12-06 00:00:00', '2024-05-05 00:00:00', '2023-11-04 00:00:00',
 '2024-11-08 00:00:00']
Length: 10, dtype: datetime64[ns]

In [ ]:
df['transactiondate'] = df['transactiondate'].astype(str).str.strip()
df['transactiondate'] = df['transactiondate'].str.extract(r'(\d{2}/\d{2}/\d{4})')[0]
df['transactiondate'] = pd.to_datetime(df['transactiondate'], errors='coerce')
df['transactiondate'] = pd.to_datetime(df['transactiondate'], format='%d/%m/%Y', errors='coerce')
df['transactiondate'] = df['transactiondate'].dt.date
df.head()

,customerid,name,state,education,gender,age,married,numpets,joindate,transactiondate,monthlyspend,dayssincelastinteraction,transactiondate_raw
0,CUST10319,Scott Perez,Florida,High School,Non-Binary,47,Yes,1,19/09/2021,NaT,1281.74,332,2024-09-02
1,CUST10695,Jennifer Burton,Washington,Master,Male,72,Yes,0,04/05/2024,NaT,429.46,424,2024-06-02
2,CUST10297,Michelle Rogers,Arizona,Master,Female,40,Yes,2,24/07/2024,NaT,510.34,153,NaT
3,CUST10103,Brooke Hendricks,Texas,Master,Male,27,Yes,0,08/12/2023,NaT,396.47,124,NaT
4,CUST10219,Karen Johns,Texas,High School,Female,28,Yes,1,12/06/2021,NaT,139.68,1103,NaT

In [ ]:
print(df)

      customerid                name       state    education      gender  \
0      CUST10319         Scott Perez     Florida  High School  Non-Binary
1      CUST10695     Jennifer Burton  Washington       Master        Male
2      CUST10297     Michelle Rogers     Arizona       Master      Female
3      CUST10103    Brooke Hendricks       Texas       Master        Male
4      CUST10219         Karen Johns       Texas  High School      Female
...          ...                 ...         ...          ...         ...
10670  CUST10833        Steven Burns     Georgia          PhD      Female
10671  CUST10620         Jesse Pratt       Texas       Master        Male
10672  CUST10449          John Lloyd     Arizona       Master  Non-Binary
10673  CUST10020  Christopher Sparks     Florida     Bachelor      Female
10674  CUST10267    Melissa Marshall     Arizona    Associate  Non-Binary

       age married  numpets    joindate transactiondate  monthlyspend  \
0       47     Yes        1  19/09/2021             NaT       1281.74
1       72     Yes        0  04/05/2024             NaT        429.46
2       40     Yes        2  24/07/2024             NaT        510.34
3       27     Yes        0  08/12/2023             NaT        396.47
4       28     Yes        1  12/06/2021             NaT        139.68
...    ...     ...      ...         ...             ...           ...
10670   60      No        1  24/08/2023             NaT        341.28
10671   64      No        0  13/04/2023             NaT        468.04
10672   31     Yes        0  07/03/2022             NaT        259.94
10673   31      No        0  19/09/2023             NaT        494.17
10674   57     Yes        1  04/03/2023             NaT        153.12

       dayssincelastinteraction transactiondate_raw
0                           332          2024-09-02
1                           424          2024-06-02
2                           153                 NaT
3                           124                 NaT
4                          1103                 NaT
...                         ...                 ...
10670                       518                 NaT
10671                       212                 NaT
10672                       679                 NaT
10673                       580                 NaT
10674                       608          2023-12-01

[10675 rows x 13 columns]

In [ ]:
from dateutil import parser

def parse_date_safe(x):
    try:
        return parser.parse(str(x), dayfirst=True)  # favor dd/mm/yyyy
    except Exception:
        return pd.NaT   # unparseable  NaT

df["transactiondate"] = df["transactiondate"].apply(parse_date_safe)

In [ ]:
df["transactiondate_raw"] = df["transactiondate"]  # keep original
df["transactiondate"] = df["transactiondate"].apply(parse_date_safe)
df.head()

,customerid,name,state,education,gender,age,married,numpets,joindate,transactiondate,monthlyspend,dayssincelastinteraction,transactiondate_raw
0,CUST10319,Scott Perez,Florida,High School,Non-Binary,47,Yes,1,19/09/2021,2024-02-09,1281.74,332,2024-09-02
1,CUST10695,Jennifer Burton,Washington,Master,Male,72,Yes,0,04/05/2024,2024-02-06,429.46,424,2024-06-02
2,CUST10297,Michelle Rogers,Arizona,Master,Female,40,Yes,2,24/07/2024,NaT,510.34,153,NaT
3,CUST10103,Brooke Hendricks,Texas,Master,Male,27,Yes,0,08/12/2023,NaT,396.47,124,NaT
4,CUST10219,Karen Johns,Texas,High School,Female,28,Yes,1,12/06/2021,NaT,139.68,1103,NaT

In [ ]:
df["joindate"]=pd.to_datetime(df["joindate"],dayfirst=True,errors="coerce")
#df['transactiondate']=pd.to_datetime(df["transactiondate"],dayfirst=True,errors="coerce")
df['joindate']=df['joindate'].dt.strftime('%d/%m/%Y')
#df['transactiondate']=df['transactiondate'].dt.strftime('%d/%m/%Y')
df.head(25)

,customerid,name,state,education,gender,age,married,numpets,joindate,transactiondate,monthlyspend,dayssincelastinteraction,transactiondate_raw
0,CUST10319,Scott Perez,Florida,High School,Non-Binary,47,Yes,1,19/09/2021,2024-02-09,1281.74,332,2024-09-02
1,CUST10695,Jennifer Burton,Washington,Master,Male,72,Yes,0,04/05/2024,2024-02-06,429.46,424,2024-06-02
2,CUST10297,Michelle Rogers,Arizona,Master,Female,40,Yes,2,24/07/2024,NaT,510.34,153,NaT
3,CUST10103,Brooke Hendricks,Texas,Master,Male,27,Yes,0,08/12/2023,NaT,396.47,124,NaT
4,CUST10219,Karen Johns,Texas,High School,Female,28,Yes,1,12/06/2021,NaT,139.68,1103,NaT
5,CUST10841,Stephen Cooke,Texas,PhD,Female,55,Yes,2,25/05/2022,2023-04-04,423.45,849,2023-04-04
6,CUST10263,Rodney James,Ohio,High School,Non-Binary,61,No,0,20/11/2023,NaT,402.96,492,NaT
7,CUST10117,Jeffrey Miles,Arizona,High School,Male,21,Yes,2,28/09/2020,2023-09-07,175.81,753,2023-07-09
8,CUST10611,John Walsh,New York,Master,Male,74,No,2,15/05/2021,NaT,320.48,1097,NaT
9,CUST10466,James Pope,New York,Master,Female,50,No,1,28/07/2021,NaT,151.49,915,NaT
10,CUST10058,Jennifer Anderson MD,Florida,PhD,Non-Binary,49,No,3,20/10/2021,NaT,320.95,314,NaT
11,CUST10684,David Roy,Illinois,High School,Male,27,No,0,22/09/2021,2022-01-08,912.80,1095,2022-08-01
12,CUST10802,April Davis,Arizona,Bachelor,Non-Binary,30,No,4,02/06/2023,2023-12-06,1225.58,780,2023-06-12
13,CUST10221,Susan Reed,Texas,Bachelor,Male,25,Yes,1,04/03/2023,NaT,444.74,623,NaT
14,CUST10621,Michelle Munoz,Georgia,Bachelor,Female,25,No,2,04/11/2024,NaT,103.30,77,NaT
15,CUST10935,Scott Wood MD,California,High School,Male,78,No,0,02/05/2023,2024-05-05,315.62,452,2024-05-05
16,CUST10768,Marc Smith,Arizona,Bachelor,Female,39,No,3,04/08/2024,NaT,319.54,426,NaT
17,CUST10862,James Blake,Texas,Associate,Non-Binary,26,No,0,20/03/2021,NaT,432.37,990,NaT
18,CUST10754,Brian Harris,California,Master,Male,28,Yes,1,05/02/2021,NaT,353.14,1309,NaT
19,CUST10109,Thomas Gilbert,Florida,Master,Non-Binary,51,Yes,3,03/12/2023,NaT,127.75,36,NaT
20,CUST10862,James Blake,Texas,Associate,Non-Binary,26,No,0,20/03/2021,2023-11-04,391.56,842,2023-04-11
21,CUST10714,Bradley Williams,Georgia,Associate,Male,75,No,1,05/10/2023,2024-02-06,331.69,424,2024-06-02
22,CUST10176,Phyllis Mason,California,PhD,Female,38,No,3,05/02/2021,NaT,920.89,1409,NaT
23,CUST10499,Kathryn Campbell,Florida,Associate,Female,34,No,1,13/11/2023,NaT,121.79,222,NaT
24,CUST10502,Hannah Turner,Colorado,Bachelor,Male,30,No,4,30/04/2022,2024-11-08,322.30,354,2024-08-11

In [ ]:
df.to_csv("Cleaned_Customer_data.csv",index=False)